/.idea/
# Default ignored files
/shelf/
/workspace.xml
/stackspot-checksum-cache.xml
/uiDesigner.xml
/stackspot_ai_project_state.xml
/vcs.xml
/compiler.xml
/aws.xml
/dbnavigator.xml
/encodings.xml
/jarRepositories.xml
/misc.xml